<h2>After</h2>
<%= link_to 'Before', before_path %>
<% @samples.each do |sample| %>
  <% if sample.image.attached? %>
    <article>
      <h3>no size set</h3>
      <%= kamifusen_tag sample.image,
                        alt: sample.image.filename %><br>
      <h3>width 500</h3>
      <%= kamifusen_tag sample.image,
                        alt: sample.image.filename,
                        width: 500 %><br>
      <h3>height 500</h3>
      <%= kamifusen_tag sample.image,
                        alt: sample.image.filename,
                        height: 500 %><br>
      <h3>width 500, height 500</h3>
      <%= kamifusen_tag sample.image,
                        alt: sample.image.filename,
                        width: 500,
                        height: 500 %><br>
      <h3>class & picture_class</h3>
      <%= kamifusen_tag sample.image,
                        alt: sample.image.filename,
                        class: 'class',
                        picture_class: 'picture_class' %>
    </article>
  <% end %>
<% end %>
